@import "tailwindcss";

:root {
  background-color: #050505;
  color: #e2e8f0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-image:
    radial-gradient(circle at 50% 0%, rgba(120, 0, 255, 0.15), transparent 50%),
    radial-gradient(circle at 0% 50%, rgba(0, 243, 255, 0.1), transparent 40%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0f;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}